#Logo_Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#Logo_title {
    width: 300px;
}

#Menu_Nav {
    text-align: center;
}
#Menu_Nav a{
    margin-inline: 10px;
}